/*PINT SLIDER CSS*/
/*SUGGESTED NAME FOR OVERALL CONTAINER, NOT 100% NECCESSARY*/
.ps__carousel__container {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
    -webkit-transition: opacity .3s;
  transition: opacity .3s;
    -webkit-overflow-scrolling: touch;
}
/*CAROUSEL NEEDED CSS*/
.ps__carousel__outer {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    opacity: 1;
    -webkit-transition: opacity .3s;
  transition: opacity .3s;
    -webkit-overflow-scrolling: touch;
}
.ps__carousel__inner {
    width: calc(100% - 60px);
    min-width: calc(100% - 60px);
    height: auto;
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-overflow-scrolling: touch;
}
.ps__carousel__mobile__touch .ps__carousel__inner {
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    padding: 10px 0 0;
    -webkit-overflow-scrolling: touch;
}
.ps__carousel__arrow {
    width: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    z-index: 10;
}
.ps__carousel__mobile__touch .ps__carousel__arrow {
    display: none;
}
.ps__carousel__left__arrow {
    left: 0;
    background-image: url('https://www.bodybuilding.com/images/lpimages/optimization/prev.png');
}
.ps__carousel__right__arrow {
    right: 0;
    background-image: url('https://www.bodybuilding.com/images/lpimages/optimization/next.png');
}
.ps__carousel-fade {
    opacity: 0 !important;
}
/*CSS FOR FORMATTING TARGETERS*/
.ps__carousel__inner .product:hover .product__name {
  color: #00aeef !important;
  text-decoration: underline !important;
}
.ps__carousel__inner .product {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: nowrap !important;
  margin: 0 !important;
    position: relative !important;
}
.ps__carousel__inner .product::before {
  display: none !important;
}
.ps__carousel__mobile__touch .product {
    width: 180px !important;
    min-width: 180px !important;
    margin: 0 5px !important;
    padding-bottom: 12px !important;
}
.ps__carousel__inner .product__img-wrapper {
  position: relative !important;
  width: 100% !important;
  height: 140px !important;
}
.ps__carousel__inner .product__img-wrapper img {
  max-height: 114px !important;
  max-width: 86px !important;
  margin: 10px auto 0 !important;
    display: block !important;
}
.ps__carousel__inner .product::before {
  display: none !important;
}
.ps__carousel__inner .vio-text, .ps__carousel__inner .vio-text h3 {
  position: relative !important;
  width: 100% !important;
  font-size: 12px !important;
  min-height: 18px !important;
    background-repeat: no-repeat !important;
}
.ps__carousel__inner .vio-text h3 {
    padding-left: 15px !important;
    margin: -3px 0 0 !important;
}
.ps__carousel__inner .product__free-shipping-badge {
  margin-top: 8px !important;
}
.ps__carousel__inner .vio-text--vio-green:before {
  width: 13px !important;
  height: 14px !important;
}
.ps__carousel__inner .product__rating-n-view-product {
  position: absolute !important;
  top: 4px !important;
  right: 14px !important;
  max-height: 24px !important;
  width: 30px !important;
}
.ps__carousel__inner .product__name {
  margin: 2px 0 0 0 !important;
  color: #00aeef !important;
  font: 100 15px/20px ProximaNova, ProximaNovaReg, arial, sans-serif !important;
  max-width: 180px !important;
  transition: color .3s !important;
  min-height: 40px !important;
}
.ps__carousel__inner .product__brand {
  font: 400 12px/14px ProximaNova, ProximaNovaReg, arial, sans-serif !important;
  color: #5a5a5a !important;
  margin: 2px 0 0 !important;
}
.ps__carousel__inner .product__rating__review-badge, .ps__carousel__inner .product__rating__rating-badge {
    margin-right: 0 !important;
    width: 100% !important;
    text-align: center !important;
    border: 1px solid #c8c8c8 !important;
    font-family: ProximaNovaSemibold, Arial, sans-serif !important;
    font-weight: 400 !important;
    border-radius: 4px !important;
    color: #5a5a5a !important;
    padding: 0px 3px !important;
    display: block !important;
    width: 28px !important;
    min-width: 28px !important;
    height: auto !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
}
.ps__carousel__inner .product__rating__review-count {
  display: none !important;
}
.ps__carousel__inner .product .product__rating {
    width: 28px !important;
    min-width: 28px !important;
    height: 28px !important;
    border: none !important;
    margin: 0 !important;
    background: #FFF !important;
    position: relative !important;
    right: 0 !important;
    top: 0 !important;
    font-size: 14px !important;
    padding: 0 !important;
}
.ps__carousel__inner .product__description,
.ps__carousel__inner .product__price,
.ps__carousel__inner .product__view-product-link {
  display: none !important;
}
/*END PINT SLIDER CSS*/